@import url(https://cdn.jsdelivr.net/gh/st-org/stui@0.15.9/main.css);

body {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr min-content;
    height: 100vh;
    padding: 0 var(--length-gap);
    padding-bottom: var(--length-gap);
}

body>pre {
    overflow: auto;
}

body>pre>div {
    margin: .5em;
    white-space: pre-wrap;
}

body>.warn {
    align-items: center;
    background: var(--color-slice);
    bottom: 0;
    display: grid;
    font-size: var(--length-font-title);
    justify-items: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}